.header {
  height: 80px;
  background-color: #3d78a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.header h2 {
  color: white;
}

.nav-content {
  display: flex;
  gap: 20px;
}

.nav-content a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.nav-content img {
  height: 40px;
  width: 42px;
}

.nav-content a:hover {
  color: rgb(14, 15, 21);
}
